<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="shoppingItemForm" (ngSubmit)="addIngredient()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name"> Name </label>
          <input id="name" class="form-control" formControlName="name" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount"> Amount </label>
          <input
            id="amount"
            type="number"
            class="form-control"
            formControlName="amount"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            [disabled]="shoppingItemForm.invalid"
            type="submit"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          @if(editMode){
          <button class="btn btn-danger" type="button" (click)="onDelete()">
            Delete
          </button>
          }
          <button class="btn btn-primary" (click)="reset()" type="button">
            Clear
          </button>
        </div>
      </div>
      @if(shoppingItemForm.invalid && shoppingItemForm.touched &&
      shoppingItemForm.dirty){
      <div class="row">
        <div class="col-xs-12">
          <span class="row">Please enter valid input !</span>
        </div>
      </div>
      }
    </form>
  </div>
</div>
